@import 'tailwindcss/base';
@import 'tailwindcss/components';

/* Additional styles */
@import 'additional-styles/utility-patterns.css';
@import 'additional-styles/flatpickr.css';

@import 'tailwindcss/utilities';


html {
    scroll-behavior: smooth;
  }

.heading-font-size{
    font-size: clamp(1.875rem, 1.0247rem + 3.4884vw, 3.75rem);
    line-height: 1;
}